/* Main container for the profile page */
.profile-page-container {
 background-color: #f5f7fa; /* Light gray background */
}

.profile-page-container .ant-card-head{background-color: #93645d;color:#fff;}

/* Styling for profile cards */
.profile-card {
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Styling for labels */
.profile-label {
  font-weight: 500;
  color: #5f5f5f;
  display: block;
  margin-bottom: 4px;
}

/* Add consistent spacing for columns */
.profile-col {
  margin-bottom: 11px;
}
